body {
    font-family: 'Lato', sans-serif;
}

.First-part {
    height: 500px;
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: 1600px;
}


.text-alein {
    text-align: center;
    color: white;
    font-size: 60px;

}

#text-alein {
    text-align: center;
    color: white;
    font-size: large;
}

.link-button {

    margin-left: 650px;
    font-size: bold;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;

}

.div-margin {
    padding-top: 100px;
}

.text-alein2 {
    text-align: center;
    font-size: 60px;
}

#text-alein2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;
}

.footer {
    background-color: black;
    height: 150px;
    padding-top: 3%;

}

#color-setup {
    color: tomato;
    font-style: initial;
    text-align: center;
}

.text-alienment {
    color: white;
    text-align: center;
}

.our-donate-plane {
    text-align: center;

}

.Our-donate {
    display: flex;

}

.width-size {
    width: 50%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;

}

.blue-color {
    background-color: rgb(178, 191, 191);
}

.pinkes-color {
    background-color: rgb(252, 200, 255);
}

.light-color {
    background-color: rgb(255, 230, 190);
}

.text-center-alienment {
    color: rgb(62, 58, 58);
    margin-left: 650px;
}